<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$info.msg}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="__MODULE_CSS__/weui.css"/>
    <link rel="stylesheet" href="__MODULE_CSS__/weui2.css"/>
    <link rel="stylesheet" href="__MODULE_CSS__/weui3.css"/>
    <script src="__MODULE_JS__/zepto.min.js"></script>
    <style type="text/css">
        .info{text-align: center;padding-top: 80px;}
        .info i{color: #e2e2e2;font-size: 80px;}
        .info p{font-size: 14px;color: #999999;margin-top: 15px;}
    </style>
    
</head>
<body ontouchstart  class="page-bg">
    <div class="info">
        <i class="icon icon-39"></i>
        <p>{$info.msg}</p>
    </div>
</body>
</html>